<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019049142622-cto1i6qddl6g4qun76rvlhfkt5unoibu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019049142622-cto1i6qddl6g4qun76rvlhfkt5unoibu</string>
	<key>API_KEY</key>
	<string>AIzaSyBBTxH8qFryNmyIGR-MoxfdrCSXWuSwrVs</string>
	<key>GCM_SENDER_ID</key>
	<string>1019049142622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scanthis.plant.identification</string>
	<key>PROJECT_ID</key>
	<string>plant-identifier-64983</string>
	<key>STORAGE_BUCKET</key>
	<string>plant-identifier-64983.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019049142622:ios:69c15ab3b3650a865547cf</string>
</dict>
</plist>